.appBar {
  background-color: var(--navbar-background-color) !important;
  color: black !important;
}

.logoImg {
  width: 65%;
  height: 40px;
}

.listItemParent {
  padding: 0px !important;
}

.headerLogo {
  justify-content: space-between !important;
}

.SelectedTab {
  background-color: var(--icon_selected_background_color) !important;
  color: var(--icon_selected_color_navbar) !important;
}


.LogoColor {
  color: var(--icon_logo_color_navbar) !important;
}

.notificationText {
  display: flex;
  align-items: center;
  padding: 10px;
}

.notificationIcon {
  margin-right: 8px !important;
}

.darkMode {
  background-color: red;
}


.SearchInput {
  border: none;
  outline: none;
  padding: 8px 30px 8px 10px;
  width: 240px;
  background-color: rgba(242, 242, 242, 255);
  border-radius: 10px;
}

.SearchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}