.MarriottSection {
    display: flex;
    margin-top: 60px;
    padding: 5px;
    background-color: rgba(248, 248, 248, 255);
}

.CarouselsParent {
    width: 1265px;
}

/* First Carousel css start here */

.MarriottParent h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: var(--fontFamily) !important;
}

.FirstCarousels {
    position: relative;
    margin-top: 10px;
}

.FirstParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.FirstImgSection {
    margin: 5px;
    position: relative;
}

.FirstImgSection img {
    width: 1260px;
    height: 224px;
    border-radius: 10px;
}

.FirstCarouselNextBtn {
    position: absolute;
    top: 40%;
    right: 3%;
    padding: 10px;
    border-radius: 50%;
}

.FirstCarouselPrevBtn {
    position: absolute;
    top: 40%;
    left: 3%;
    padding: 10px;
    border-radius: 50%;
}

.iconBtnFirst {
    font-size: 15px !important;
    margin-top: -4px;
    color: rgba(255, 131, 65, 255) !important;
}


/* First Carousel css end here */

/* Second Carousel css start here */

.SecondCarousels {
    position: relative;
    margin-top: 10px;
}

.SecondParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.SecondImgSection {
    margin: 5px;
    position: relative;

}

.SecondImgSection img {
    background-color: rgba(255, 255, 255, 255);
    width: 560px;
    height: 344px;
    color: white;
    border-radius: 10px;
}

.TextCode {
    position: absolute;
    top: 3%;
    left: 5%;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 25px;
    padding: 10px;
}

.LogoText {
    position: absolute;
    top: 80%;
    right: 5%;
    background-color: rgba(96, 96, 94, 255);
    border-radius: 25px;
    padding: 10px;
}

.SecondCarouselNextBtn {
    position: absolute;
    top: 40%;
    right: 3%;
    padding: 10px;
    border-radius: 50%;
}

.SecondCarouselPrev {
    position: absolute;
    top: 40%;
    left: 3%;
    padding: 10px;
    border-radius: 50%;
}

.iconBtnSecond {
    font-size: 15px !important;
    margin-top: -4px;
    color: rgba(255, 131, 65, 255) !important;
}


/* First Carousel css end here */

/* Form section start here  */

.FormSectionParent {
    padding: 20px;
    margin-top: 10px;
}

.FormChildFirst {
    padding: 10px;
}

.FormChildFirst {
    background-color: rgba(255, 255, 255, 255);
}

.textSection h3 {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 600 !important;
    margin: 4px;
}

.textSection p {
    margin: 10px;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(242, 242, 242, 255);
    border-radius: 15px;
}

.FormChildSecond {
    background-color: rgba(255, 255, 255, 255);
}


.textSectionSecond h3 {
    font-size: 14px;
}

.textSectionSecond p {
    padding: 10px;
    margin: 4px;
    font-size: 14px !important;
    background-color: rgba(242, 242, 242, 255);
}

/* Form section end here  */