.SpecsParent {
    background-color: rergba(248, 248, 248, 255);
}

.headingSeach {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingSeach h4 {
    font-size: 20px !important;
}

.SeachInpput {
    height: 40px !important;
    width: 380px;
    border-radius: 5px;
    border: 2px solid rgba(255, 131, 65, 255);
}

.HeadingParetn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* First Carousel css start here  */

.FirstCarousel {
    background-color: rergba(248, 248, 248, 255);
    border: 2px solid rgba(255, 131, 65, 255);
    padding: 10px;
}

.FirstCarousel h4 {
    margin-top: 5px !important;
    /* margin-bottom: 2px !important; */
    font-size: 18px !important;
}


/* First Carousel css start here  */


.imgsection{
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mycard {
    min-width: 300px;
    max-width: 300px;

    height: 400px;
    background-color: black;
    margin: 10px;
    color: white;
}
  

/* First Carousel css end here  */
