.SettingSection {
    display: flex;
    margin-top: 60px;
    padding: 5px;
    background-color: rgba(248, 248, 248, 255);
}


.SettingSection h3 {
    margin-top: 10px;
    font-size: 20px;
    font-family: var(--fontFamily) !important;
}

.ImgSection {
    text-align: center;
}

.ImgSection img {
    width: 50%;
}