.SpecsParent {
    background-color: rgba(248, 248, 248, 255);
    padding: 10px;
}

.headingSeach {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingSeach h4 {
    font-size: 20px !important;
}

.HeadingParetn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CarouselParent {
    background-color: rgba(248, 248, 248, 255);
    padding: 5px;
    width: 1255px;
}

/* first carousel start here of Cocktails */

.FirstCarousels {
    background-color: rgba(244, 244, 244, 255);
    position: relative;
    padding: 10px;
    min-height: 310px !important;
}

.FirstCarousels h4 {
    font-size: 18px;
}

.FirstCarousels h5 {
    font-size: 18px;
    color: rgba(255, 131, 65, 255);
}

.FirstParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.FirstImgSection {
    text-align: center;
    min-height: 215px;
    height: 219px;
    width: 225px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}

.FirstImgSection img {
    height: 160px;
    margin: 10px;
    color: white;
    border-radius: 10px;
}

.FirstImgSection h3 {
    background-color: rgba(252, 235, 226, 255);
    margin-top: 3px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.FirstImgSection h3 {
    font-size: 14px;
    padding: 10px;
}

/* first carousel end  here of Cocktails */

/* Second carousel start here of Core Beverage */

.SecondCarousels {
    background-color: rgba(244, 244, 244, 255);
    position: relative;
    min-height: 315px !important;
    margin-top: 10px;
    padding: 10px;
}

.SecondCarousels h3 {
    font-size: 18px;
    color: #000000;
}

.SecondParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.SecondImgSection {
    position: relative;
    width: 362px;
}

.SecondImgSection img {
    margin: 10px;
    height: 90%;
    border-radius: 10px;
}

.SecondImgSection h3 {
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 80%;
    left: 7%;
    color: white;
}

/* Second carousel end here of Core Beverage */

/* Third carousel end here of Core Beverage */

.ThirdCarousels {
    background-color: rgba(244, 244, 244, 255);
    position: relative;
    min-height: 435px !important;
    margin-top: 10px;
    padding: 10px;
}

.ThirdCarousels h3 {
    font-size: 18px;
}

.ThirdParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.ThirdImgSection {
    position: relative;
    margin: 5px;
    width: 230px;
    height: 324px;
}

.ThirdImgSection img {
    background-color: rgba(255, 255, 255, 255);
    color: white;
    height: 100%;
    border-radius: 10px;
}

.ThirdImgSection h3 {
    border-bottom-right-radius: 10px;
    font-size: 16px;
    position: absolute;
    top: 87%;
    left: 5%;
    color: white;
}

/* Third carousel end here of Core Beverage */


/* Media Query section start here  */


@media screen and (max-width: 480px) {
    .CarouselParent {
      background-color: lightgreen;
    }
  }


/* Media Query section ed here  */