.FlashcardsSection{
    display: flex;
    margin-top: 68px;
    padding: 5px;
    background-color: rgba(248, 248, 248, 255);
}

/* Second carousel start  here of Cocktails */

.FirstCarousels {
    margin-top: 10px;
    background-color: rgba(244, 244, 244, 255);
    position: relative;
    min-height: 300px !important;
    width: 1250px !important;
    border: 1px solid rgba(244, 244, 244, 255);
}

.FirstCarousels h3 {
    font-size: 18px;
    padding: 10px;
}

.FirstParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.FirstImgSection {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}

.FirstImgSection img {
    background-color: rgba(255, 255, 255, 255);
    width: 224px;
    height: 128px;
    padding: 5px;
    border-radius: 10px;
}

.FirstImgSection h3 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .025em;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.FirstImgSection p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 5px;
}

/* Second carousel end  here of Cocktails */