.CheckParent {
    background-color: rgba(248, 248, 248, 255);
    padding: 12px;
}

.IconStyle{
    color: rgba(231,231,231,255) !important;
}

.FirstParent{
    margin-top: 5px !important;
    background-color: white;
    padding: 5px;
}

.MainChild{
    background-color: rgba(248, 248, 248, 255);
    margin: auto;
}

.IconAndText{
    display: flex !important;
    padding: 10px;
}

.IconAndText h5{
    font-size: 16px;
    margin-left: 10px;
}

.ProgressParent{
    display: flex;
    justify-content: space-between;
}
.ProgressParent p{
    margin-bottom: 0px !important;
}

.ProgressParent span{
    color: rgba(255,131,65,255);
}

.myProgressBar {
    margin-bottom: 10px;
  }

  .Demoo{
    background-color: rgba(231,231,231,255);
    border-radius: 10px;
    height: 10px;
  }
