.DynamicParent {
    background-color: rgba(248, 248, 248, 255);
    padding: 10px;
    display: flex;
    margin-top: 68px;
}

.CocktailParent h4 {
    font-size: 20px;
    font-weight: 700;
}

.IngredientsParent {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.IngredientsParent h3 {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.WhiskeyParent {
    margin-top: 10px;
    background-color: rgba(248, 248, 248, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.WhiskeyParent p{
    margin-bottom: 0px;
    font-size: 14px;
}

.DetailParent{
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
}

.DetailParent h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.DetailParent p{
    font-size: 14px;
    letter-spacing: .025em;
    padding: 20px;
}

